@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: none;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/*Heart pulse effect    */
.heart {
    color: red;
    font-size: 50px;
    animation: heart-pulse 2s infinite ease-out;
}

@keyframes heart-pulse {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    70% {
        transform: scale(0.65);
    }

    100% {
        transform: scale(0);
    }
}
/*Back Button For InfoPage*/
.back-button{
    background:none;
    border:hidden;
    font-size:30px;
    transition:transform ease-out 0,5s;
    
}
.back-button:hover{
    transform:scale(1.1)
}

    ::-webkit-scrollbar {
        width: 2px;
        height: 0px;
    }

    ::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }

    ::-webkit-scrollbar-thumb {
        background: #e1e1e1;
        border: 0px none #ffffff;
        border-radius: 50px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #000000;
    }

    ::-webkit-scrollbar-track {
        background: #666666;
        border: 0px none #ffffff;
        border-radius: 50px;
    }

    ::-webkit-scrollbar-track:hover {
        background: #666666;
    }

    ::-webkit-scrollbar-track:active {
        background: #333333;
    }

    ::-webkit-scrollbar-corner {
        background: transparent;
    }

    @media screen and (max-width: 991px) {
        #input-form {
        position:fixed;
        z-index:1000;
        top:0;
        background-color: antiquewhite;
        margin:0;
        width:100%;
    }
    #homePage{
        visibility:hidden;
    }
}