
@typeparam TItem
<style>
    .list-title {
        text-align: center;
        height: auto;
        width: 100%;
        margin-top: 10px;
    }

        .list-title h2 {
            margin-bottom: 0;
        }

    .dots {
        padding-top: 10px;
        border-bottom: gray 15px dotted;
        width: 150px;
        margin-right: auto;
        margin-left: auto;
        opacity: 0.3;
    }

    .background {
        padding: 20px;
        margin: 10px;
        border-radius: 30px;
        background-color: rgba(218, 209, 209, 0.541);
        min-width: 290px;
        max-height: 520px;
    }

    .overflow {
        overflow-y: auto;
        max-height: 420px;
    }
</style>
<div class="background">
    <div class="list-title">
        <h2>@ListName</h2>
        <div class="dots"></div>
    </div>
    <div class="overflow">
        @if (List == null)
        {
            if (NullTemplate != null)
            {
                @NullTemplate
            }
            else
            {
                <p>Loading....</p>
            }
        }
        else if (List.Count == 0)
        {
            if (EmptyTemplate != null)
            {
                @EmptyTemplate
            }
            else
            {
                <text>List is empty </text>
            }
        }
        else
        {
            foreach (var element in List)
            {
                @ElementTemplate(element);
            }
        }
    </div>
</div>
@code {
    [Parameter] public List<TItem> List { get; set; }
    [Parameter] public RenderFragment NullTemplate { get; set; }
    [Parameter] public RenderFragment EmptyTemplate { get; set; }
    [Parameter] public RenderFragment<TItem> ElementTemplate { get; set; }
    [Parameter] public string ListName { get; set; }



}
