@inherits LayoutComponentBase
<style>
    html body {
        background-size: 100% 100%;
        background-color: antiquewhite;
        font-family: 'Pacifico', cursive;
    }
</style>
<div class="page">

    <div class="main">

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
