<style>
    .font {
        font-size: x-large;
    }

    .img-size {
        width: 25px;
        height: 25px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .margin {
        margin-top: 10px;
    }

    .text-align-left {
        text-align: center;
    }

    .text-align-right {
        text-align: center;
    }

    .img-location {
        display: flex;
        justify-content: center;
        align-items: center
    }

    .backgraund {
        margin: 10px;
        border: gray solid 1px;
        border-radius: 20px;
    }

        .backgraund .row {
            justify-content: center;
            align-items: center;
        }
</style>

<div class="container">
    <div class="backgraund">
        <div @key="Match" class=" row pl-4 pr-4 ">

            <div>
                <p class="font margin text-align-right">@Match.Male.NickName</p>
            </div>
            <div class="img-location heart">
                <img src="Images/heart.png" class="img-size" />
            </div>
            <div>
                <p class="font margin text-align-left">@Match.Female.NickName</p>
            </div>
        </div>
    </div>

</div>



@code {
    [Parameter] public MatchDto Match { get; set; }

}
